body {
	background: #EEEEEE;
}

@keyframes spin {
	25% {
    fill: transparent;
		transform: scale(1, 1);

		stroke-dashoffset: 0;
	}
  50% {
    stroke: transparent;
		transform: scale(1.6, 1.6);
    stroke-dashoffset: 0;
    fill: #D5393B;
  }
	60% {
		transform: scale(0, 0);

	}

  70% {
    fill: transparent;
  }

  100% {
    stroke: transparent;
    fill: transparent;
  }

}

@keyframes pulse {
  50% {
    r: 10;
    fill: transparent;

  }
   74% {
     r: 200;
     fill :#D5393B;
   }

   100% {
     r: 200;
     fill: transparent;
   }
}

@keyframes pulse2 {
  50% {
    r: 10;
    fill: transparent;

  }
   67% {
     r: 200;
     fill :#E06B6C;
   }

   100% {
     r: 200;
     fill: transparent;
   }
}

@keyframes pulse3 {
  50% {
    r: 10;
    fill: transparent;

  }
   62% {
     r: 200;
     fill :#EB9D9E;
   }

   100% {
     r: 200;
     fill: transparent;
   }
}



.heart {
  fill: transparent;
  stroke: #F4CDCE;
	stroke-width: 2;
	stroke-linecap: round;
	animation: spin 6s infinite linear;
  stroke-dasharray: 300.0 300.0;
  stroke-dashoffset: 300.00;
	transform-origin: 100px 100px;

}

.pulse {
  fill: transparent;
  animation: pulse 6s infinite ease-in;
}
.pulse2 {
  fill: transparent;
  animation: pulse2 6s infinite linear;
}
.pulse3 {
  fill: transparent;
  animation: pulse3 6s infinite ease-out;
}

.top-rect, .bottom-rect, .middle-rect {
	transform-origin: 100px 100px;
}
